
<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2> <%= @user.username.capitalize %> </h2>
                
                <% if @user == current_user %>
                    <%= image_tag user_avatar(current_user), class:"profile-img img-responsive center-block"%>
                <% else %>
                  <%= image_tag user_avatar(@user), class:"profile-img img-responsive center-block"%>
                <% end %>
                
                <div class="profile-label">
                    <span class="label label-danger"><strong><%= @user.career.field%></strong></span>
                </div>

                <div class="profile-details">
                    <h4></h4>
                    <% if @user.skills.empty? %>
                      <span class="text-secondary">No skills registered<span>
                    <% else %>
                      
                    <% end %>
                    <ul class="fa-ul">
                        <%@user_skills.each do |skills|%>
                          <li><%= skills.name %><%= skills.level %></li>
                        <%end%>
                    </ul>
                </div>
                
                <% if @user == current_user %>
                     <%= form_with model: [@skill], local: true do |f| %>
      <%= f.text_field :name, placeholder:"Add new skills" %><%= f.number_field :level, placeholder:"Add skill level" %>
      <%= f.submit "Add skills", class:"btn-success"%>
    <%end%><br>
                <% end %>
                
                <% if @user == current_user %>
                  
                <% else %>
                    <div class="profile-message-btn center-block text-center">
                     <% if current_user && current_user.following?(@user) %>
                        <%= render 'unfollow' %>
                        <% else %>
                        <%= render 'follow' %>
                    <% end %>
                </div>
                <% end %>
              
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                <% if @user == current_user %>
                  <h3><span>User info</span></h3>
                   
                    <%= link_to  "Edit profile", edit_user_registration_path, class:"btn btn-primary edit-profile" %>
                <% else %>
                   <h3><span>User info</span></h3>
                <% end %>
                </div>
                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                First Name
                            </div>
                            <div class="profile-user-details-value">
                                <%= @user.firstname.capitalize %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Last Name
                            </div>
                            <div class="profile-user-details-value">
                                <%= @user.lastname.capitalize %>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-sm-4 profile-social">
                        <ul class="fa-ul">
                            <li><strong>email: </strong> <%= mail_to "#{@user.email}"%> </li>
                            
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Posts</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Connections</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Connected to</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="tab-1">
        <p class="p-3">
        <% @user_posts.each do |posts| %>
            <%= link_to simple_format(posts.content.capitalize.truncate(50)), user_post_path(@user, posts) %>
            <hr>
        <%end%>
        </p>
    </div>
    <div class="tab-pane" role="tabpanel" id="tab-2">
        <p class="p-3">
            <% if @user.followers.empty? %>
              No connection
            <%else%>
                <% @user.followers.each do |followers| %>
                <div class="d-inline">
                    <%= link_to  relationship_user_path(@user.followers, followers), :action => 'go' do %>
                        <%= image_tag user_avatar(followers), class:"border rounded-circle img-profile"%>
                    <%end%>
                    
                </div>
                <%end%>
            <% end %>
        </p>
    </div>
    <div class="tab-pane" role="tabpanel" id="tab-3">
        <p class="p-3"><% if @user.following.empty? %>
              No connection
            <% else %>
                <% @user.following.each do |followed| %>
                <div class="d-inline">
                 <%= link_to  relationship_user_path(@user.following, followed), :action => 'go' do %>
                    <%= image_tag user_avatar(followed), class:"border rounded-circle img-profile"%>
                 <%end%>
                    
                </div>
                <%end%>
            <% end %></p>
    </div>
</div>
       </div>
        </div>
    </div>
</div>






  
 