<nav class="navbar navbar-light fixed-top navbar-expand-md navigation-clean-button">
    <div class="container"><%= link_to  "Company name", root_path, class:"navbar-brand" %><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"></li>
            </ul>
            
            <% if user_signed_in? %>
            <ul class="nav navbar-nav flex-nowrap ml-auto">
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small"><%= current_user.username.capitalize%></span></a>
                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                            <%= link_to  "My profile", user_path(current_user), class:"dropdown-item" %>
                            <%= link_to  "Edit my profile",edit_user_registration_path,class:"dropdown-item" %>
                            <div class="dropdown-divider"></div>
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
                        </div>
                    </div>
                </li>
            </ul>
            <% else %>
                <span class="navbar-text actions"><%= link_to  "Log in", new_user_session_path, class:"light-btn btn btn-link", role:"button" %><%= link_to  "Sign up", new_user_registration_path, class:"action-button dark-btn"%></span>
            <% end %>
            
        </div>
    </div>
</nav>
