<section class="register-photo">
  <div class="form-container">
  <div class=""></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="text-secondary align-center d-flex justify-content-center">Login</h2><br>
  <div class="field">
    <%= f.text_field :login, autofocus: true, autocomplete: "email", placeholder:"email or Username" %>
  </div><br><br>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>

  </div>
      <%= render "devise/shared/links" %>
  </div>
  <% end %>

</section>