<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button type="button" class="post-btnn w-50" data-toggle="modal" data-target="#exampleModalCenter">
                    Start a post
            </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Post something</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Post.new, :url => posts_path(), :method => :post do |f| %>
    <%= f.text_area :content, placeholder: "Post here", class:"w-100 text",cols: 30, rows: 15 %>
    <%= f.label :field, "Tag to" %>
  <%= f.collection_select(:career_id, Career.all, :id, :field, :prompt => 'Select your title', class:"form-select w-100") %>   
  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><%= f.submit "Post",class:"btn post-btn" %></button>
        <%end%>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 bg-success h-100"></div>
        <div class="col-md-8 mt-5 d-flex justify-content-center">
            <% @posts.each do |post| %>
             <%= link_to post_path(post), :action => 'go' do %>
                <div>
                    <p class="lead">
                        <%= simple_format(post.content.truncate(200)) %>
                    </p>
                </div>
            <%end%>
            <div><%= link_to post.user.username, post_user_path(post, post.user) %></div>
            <%end%>
        </div>
        <div class="col-md-2 bg-warning h-100"></div>
    </div>
</div>


