<%= @post.content %>
                     <div class="col-md-12 d-flex justify-content-center">
    <button type="button" class="comment-btn w-50" data-toggle="modal" data-target="#comment">
                    Comment
    </button>
    <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with model: [@post, @comment], local: true do |f| %>
          <%= f.text_area :text, placeholder: "Add your comment", class:"w-100 text",cols: 15, rows: 15 %>
      </div>
      <div class="modal-footer">
        
        <%= f.submit "Comment",class:"btn btn-primary post-btn" %>
        <%end%>
      </div>
    </div>
  </div>
</div>
              </div>

<% @comments.each do |comment| %>
    <%= comment.text %>
<%end%>